body {
    margin: 0;
    padding: 20px 40px;
    font-family: "Space Grotesk", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media screen and (max-width: 768px) {
        padding: 10px 20px;
    }

    @media screen and (max-width: 480px) {
        padding: 10px 15px;
    }
}

code {
    font-family: "Space Grotesk", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}
